[Desktop Entry]
Name=LinuxUpdate
GenericName=Linux Updater
Comment=Written by Xcalizorz
Icon=system-software-update
Exec=/path/to/update.sh
Terminal=true
Type=Application
StartupNotify=true
Categories=Application;

